# Created by .ignore support plugin (hsz.mobi)
.name
codeReview.iml
codeStyles/
inspectionProfiles/
modules.xml
vcs.xml
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\code review\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
./.idea/

./tmp/